body {
    background-color: hsl(212, 45%, 89%);
}

main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card {
    background-color: hsl(0, 0%, 100%);
    max-width: 350px;
    padding: 18px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0px 4px 3px 1px rgba(0, 0, 0, 0.2);
}


.card .qr-code {
    width: 100%;
    border-radius: 15px;
}

.card .titulo {
    color: hsl(218, 44%, 22%);
    padding-top: 9px;
    padding-bottom: 19px;
    font-size: 22px;
    margin: 0px 20px;
}

.card .texto {
    color: hsl(220, 15%, 55%);
    padding-bottom: 45px;
    font-size: 15px;
    margin: 0 36px;
}

.attribution {
    margin-top: 25px;
}